form {
    background-color: rgb(227, 227, 235);
    text-align: center;
    max-width: 350px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(36, 16, 16);
}

h2 {
    color: rgb(0, 140, 255);
}

#submit {
    color: white;
    background-color: rgb(248, 10, 10);
    border-radius: 10px;
    padding: 10px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    font-size: larger;
    cursor: pointer;
}

#temp {
    text-align: center;
    font-size: larger;
    width: 50%;
    border-radius: 5px;
}

#output {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 15px;
    margin-top: 5px;
}